html, body {
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div.container {
  width: 900px;
  margin: 20px auto;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 16px;
}

div.text {
  line-height: 150%;
}

#canvas {
  background-color: #000;
}

#time {
  width: 768px;
  text-align: right;
  margin: 0.25em auto;
}

#game-container {
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #9BF;
  font-weight: bold;
}
